body{
    margin: 0;
    padding: 0;
}

#mainBlock{
    display: flex;
    justify-content: center;
    font-family: Garamond, normal;
    text-align: center;
}

#leftColumn{
    width: 380px;
    height: available;
    margin-right: 200px;
    padding: 0;
    background-color: #273136;
    color: white;
    }

#rightColumn{
    child-align: right;
    width: 694px;
    height: available;
    margin: 0;
    padding: 0;
}

#leftFirst{
    margin: 30px 0;
}

a{
    color: white;
}

#leftColumn h3{
    background-color: #323E44;
    margin-bottom: 30px;
    height: 25px;
    display: flex;
    justify-content: start;
}

#rightColumn h3{
    background-color: #EAEAEA;
    margin-bottom: 30px;
    height: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
}

h3 span{
    display: inline-block;
    width: 10px;
    height: 25px;
    background-color: darkgoldenrod;
}

#leftColumn h3 span{
    margin-right: 150px ;
    padding: 0;
}

#rightColumn h3 span{
    margin-right: 290px ;
    padding: 0;
}

.contacts{
    list-style-type: none;
    margin:0 0 0 6px;
    padding: 0;
}

img{
    width: 380px;
    height: 379px;
}